.part2{
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: none;
}

.doba_spolu{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: none; 
    
}

.doba_spolu h3, .doba_spolu h1{
    margin: 0;
    padding: 0;
}

.doba_spolu h3{
    margin-top: 5px;
    animation: none;
    font-size: large;
}


.text_div{
    position: fixed;
    /* display: flex; */
    top: 0;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 150px;
    width: calc(100% - 20px);
    height: calc(100% - 170px);
    padding: 10px;
    /* background-color: red; */
}

.text_body{
    width: 100%;
    background-color: bisque;
    height: 0%;
    z-index: 10;
    border-radius: 10px;
    animation: none;
}
#text_mysicka{
    width: 100px;
    position: fixed;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 9;
    transform: rotate(40deg);
    filter: drop-shadow(0 0 2px black);
    animation: none;
    opacity: 0;
}
#text_mysicka2{
    width: 100px;
    position: fixed;
    margin-top: -60px;
    margin-left: 330px;
    z-index: 9;
    transform: rotate(-50deg);
    filter: drop-shadow(0 0 2px black);
    animation: none;
    opacity: 0;
}
   
#text_button{
    color: rgb(32, 32, 32);
    border-style: none;
    background-color: bisque;
    width: 100%;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    height: 50px;
    z-index: 10;
    animation: none;

}


@keyframes otevri_p2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes doba_spolu {
    0%{
        opacity: 0;
        transform: translateY(0) scale(1);
    }
    40%{
        opacity: 1;
        transform: translateY(0) scale(1.3);
    }
    60%{
        transform: translateY(10px);
    }
    80%{
        transform: translateY(-300px) scale(1);
    }
    100%{
        transform: translateY(-300px) scale(1);
    }
}

@keyframes doba_spolu2 {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
        
    }
    90%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zobrazeni_tlacitka {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
        
    }
    90%{
        opacity: 1;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zobrazeni_mysicek {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
        
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


@keyframes roztahnuti_textu {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}