#part4_fotky_div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    opacity: 0;
    visibility: hidden;
    animation: none;
}

.lanko{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: aquamarine;
}

#lanko1{
    margin-top: 50px;
}


.spol_fotky_div{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.snura{
    width: 5px;
    height: 5px;
    background-color: aquamarine;
}
#spol_fotky{
    width: 150px;
    margin: 0px;
    border: 4px solid white;
}
.spodek_fotky{
    width: 158px;
    height: 30px;
    background-color: white;
}


#obrazek1{
    margin-top: 55px;
    margin-left: 20px;
}

#obrazek2{
    margin-top: 55px;
    margin-left: 210px;
}



#lanko2{
    margin-top: 300px;
}

#obrazek3{
    margin-top: 305px;
    margin-left: 20px;
}
#obrazek4{
    margin-top: 305px;
    margin-left: 210px;

}

@keyframes zobraz_fotky {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes schovej_mysicky {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
}