.part2{
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: none;
}

.doba_spolu{
    color: white;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: none; 
    
}

.doba_spolu h3, .doba_spolu h1{
    margin: 0;
    padding: 0;
}

.doba_spolu h3{
    margin-top: 5px;
    animation: none;
    font-size: large;
}


.text_div{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-top: 150px;
    width: calc(100% - 20px);
    height: calc(100% - 200px);
    padding: 10px;
}
   


@keyframes otevri_p2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes doba_spolu {
    0%{
        opacity: 0;
        transform: translateY(0) scale(1);
    }
    40%{
        opacity: 1;
        transform: translateY(0) scale(1.3);
    }
    60%{
        transform: translateY(10px);
    }
    80%{
        transform: translateY(-350px) scale(1);
    }
    100%{
        transform: translateY(-350px) scale(1);
    }
}

@keyframes doba_spolu2 {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
        
    }
    90%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}